body {
    /*font-family: Monospace;*/
    /*background-color: #000;*/
    /*color: #fff;*/
    /*margin: 0px;*/
    /*overflow: hidden;*/
}

/*#info {*/
    /*color: #fff;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*z-index: 100;*/
    /*display:block;*/
/*}*/
/*#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }*/

#container, canvas {
    /*background: -webkit-radial-gradient(white, grey, grey);  Safari 5.1 to 6.0*/
    /*background: -o-radial-gradient(white, grey, grey);  For Opera 11.6 to 12.0*/
    /*background: -moz-radial-gradient(white, grey, grey);  For Firefox 3.6 to 15*/
    /*background: radial-gradient(white, grey, grey);  Standard syntax (must be last)*/
    width: 100%;
    height: 80%;
}
.bor1px {
    border: 1px solid red;
}

.dispovercanvas{
    position: absolute;
    top: 6%;
    right: 0%;
}

#maincontainer{
    padding: 0.5% 5% 0% 5%;
    width: 99.5%;
}

.generateButton{
    color: darkred;
    background-color: #D2E9F1;/*dodgerblue;*/
    text-align: center;
}

.galleryimg{
    cursor: pointer;
}
#gallerylabel{
    padding-left: 15%;
}
.rangeLeft{
    position:absolute;
    left: -2%;
}
.rangeRight{
    position:absolute;
    right: -2%;
    top: 1%
}
/*.col:not(:first-child,:last-child) {*/
    /*padding-right:7px;*/
    /*padding-left:7px;*/
    /*min-height:16px;*/
/*}*/
/*.form-group .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{*/
    /*min-height:16px;*/
/*}*/

#headcont{
    padding-top: 30px;
}
#img{
    width: 190px;
    float: left;
}

#divider{
    border-top: solid 2px;
    border-color: #a5a5a5;
    padding-bottom: 1%;
}
#buttons{
    position: absolute;
    top: 6%;
    left: 6%;
}
.customizeParameter input[type=range]{
    display: inline;
}

.error{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: #ff0000;
    font-size: large;
}
.success{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: darkslateblue;
    font-size: large;
}
.tool-tip{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: dimgrey;
    font-size: small;
}