.bor1px {
    border: 1px solid red;
}

.dispovercanvas{
    position: absolute;
    top: 6%;
    right: 0%;
}

#maincontainer{
    padding: 0.5% 5% 0% 5%;
    width: 99.5%;
}

.generateButton{
    text-align: center;
}


#headcont{
    padding-top: 30px;
}

#divider{
    border-top: solid 2px;
    border-color: #a5a5a5;
    padding-bottom: 1%;
}


.error{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: #ff0000;
    font-size: large;
}
.success{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: darkslateblue;
    font-size: large;
}
.tool-tip{
    font-weight: bold;
    text-decoration-color: #ff0000;
    color: dimgrey;
    font-size: small;
}
.app_name{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #1e57a4;
}
#resultarea{
    /*padding-bottom: 1%;*/
    background-color: #f2f2f2;
}